/* Centraliza a página */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #868486; /* Cor neutra */
    font-family: Arial, Helvetica, sans-serif;
}

/* Caixa do formulário */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs e selects */
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Efeito ao clicar */
input:focus, select:focus {
    outline: none;
    border-color: #888;
}